body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.banner_top {
    background-color: gray;
    height: 5px;
}

.banner_btm {
    background-color: gray;
    height: 2px;
}

a {
    color: #2d3c49;

}

.project-img {
    width: 100%;
}

.text-muted {
    color: #4c4c4c;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid gray;
    border-radius: 18px;
}

.modal-img {
    margin: 0 0 20px 20px;
}

.work-section {
    padding-bottom: 5px;
    margin-bottom: 60px;
    border-bottom: thin solid gray;
}

.work-title {
    font-weight: bold;
    margin-bottom: 15px;
}

div.row.text-center {
    padding-left: 15px;
    padding-right: 15px;
}

p a {
    text-decoration: underline;
}

@media screen and (max-width: 550px) {
    .title-super {
        font-size: 40px;
        font-weight: 200;
    }

    .text-muted {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .title-super {
        text-align: right;
    }

    .sub-title-super {
        text-align: right;
    }
}