body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

hr {
    background-color: #7d97ad;
    height: 5px;
}

a {
    color: #2d3c49;

}

.project-img {
    width: 100%;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin: 0 auto;
    margin-top: 20px;
    border: 5px solid gray;
    border-radius: 18px;
}

.welcome-text {
    position: absolute;
    top: 5em;
    left: 5em;
}

@media screen and (max-width: 550px) {
    .title-super {
        font-size: 40px;
        font-weight: 200;
    }
}

@media screen and (min-width: 1200px) {
    .title-super {
        text-align: right;
    }
    .sub-title-super {
        text-align: right;
    }
}
